<%- include('./components/head.ejs')  %> 
<body>

    <%- include('./components/nav.ejs') %> 

    <img src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2021/12/error-521.jpg" alt="521"/>
</body>
</html>