$black: #111111;
$white: #dddddd;
$light_blue: #17b7e7;
$blue: #0064c2;
$dark_blue: #090977;
$light_gray: #1c2834 ;

body{
    font-size: 1.125rem;
    color: $white;
    background-color: $black;
    margin: 0;
}

h1, h2, h3{
    color: white;
}

.Bnt {
    background-color: $black;
    color: $white;
    padding: 0.525rem 1.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 0.25rem;
}

.Bnt:hover {
    background-color: $light_gray;
}

nav{
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: flex-end;
    border-bottom: $light_blue solid 0.25rem;
    ul{
      list-style: none;
      padding: 1rem 0 0.3rem 1rem;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center; 
    }
    li{
        margin-right: 1rem;
    }
}
  
.Title{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: 2rem;
    color: white;
    div{
        display: inline;
        color: $blue;
    }
}

.Login{
    background-color: $blue;
}


.CoinsList{
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
}
.Coin{
   
    .Symbol{
        text-transform: capitalize; 
        display: flex;
        align-items: center;
        img{
            max-width: 1.25rem;
        }
    }
}