<nav>
    <ul>
        <li class="Title">Save <div>Portfolio</div></li>
    </ul>
    <ul>
        <li><a class="Bnt" href="/">Home</a></li>
        <li><a class="Bnt" href="/market">Market</a></li>
        <li><a class="Bnt" href="/wallet">Wallet</a></li>
    </ul>
    <ul>
        <li><a class="Bnt Login" href="<%= authRequest %>">Login</a></li>
    </ul>
</nav>