<%- include('./components/head.ejs')  %> 
<body>

    <%- include('./components/nav.ejs') %> 

    <img src="https://png.pngtree.com/png-vector/20210227/ourlarge/pngtree-error-404-glitch-effect-png-image_2943478.jpg" alt="404"/>
</body>
</html>