<%- include('./components/head.ejs')  %> 
<body>

    <%- include('./components/nav.ejs') %> 

    <img src="https://undsgn.com/wp-content/uploads/2018/02/dribbbler_error_500_white.jpg" alt="500"/>
</body>
</html>