<%- include('./components/head.ejs')  %> 

<body>

    <%- include('./components/nav.ejs') %> 

    <h1>Wallet</h1>
    <div style="margin-bottom: 2rem;"> 
        <form id="myForm">
            Coin: <select name="states" id="coinNameForm">
                <option name="bitcoin" value="bitcoin">Bitcoin</option>
                <option name="ethereum" value="ethereum">Ethereum</option>
                <option name="bnb" value="bnb">Bnb</option>
            </select>
            Amount: <input type="number" id="amount">
            <input type="button" value="Submit" onclick="mySubmit()">
        </form>
   </div>

    <table class="CoinsList">
        <thead>
            <tr>
                <th>Coin</th>
                <th>Amount</th>

            </tr>
        </thead>
        <tbody>
            <% coins.forEach(element => { %>
                <tr class="Coin">
                    <td><%= element.coin %></td>
                    <td><%= element.amount %></td>
                </tr>
            <% }); %> 
        </thead>
    </table>

    <script>
        async function mySubmit(){
            // this is so bad please fix it sb
            coin = document.getElementById("coinNameForm").value;
            amount = document.getElementById("amount").value;
            data = {coin: coin, amount: amount}
            console.log(data);
            await fetch("http://localhost:5000/post", {
                method: "POST",
                headers: {'myheader': JSON.stringify(data)}, 
                // body: JSON.stringify(data)
                }).then(res => {
                    console.log("Request complete! response:", res.data);
                    window.location.href = 'http://localhost:5000';
                });
        }
        </script>
</body>