<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/market">Market</a></li>
        <li><a href="/wallet">Wallet</a></li>
    </ul>
    <ul>
        <li><a href="<%= authRequest %>">Login</a></li>
    </ul>
</nav>